html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
}

#__next {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

.min-h-full {
    flex: 1 0 auto;
}

.bg-container {
    position: relative;
    width: 100%;
    min-height: 100%;
}

.bg-overlay {
    position: relative;
    z-index: 1;
    opacity: 0.95;
}